<script>
    // getPosition
    function xy(x) {
        o = document.getElementById(x);
        var l =o.offsetLeft; var t = o.offsetTop;
        while (o=o.offsetParent)
            l += o.offsetLeft;
        o = document.getElementById(x);
        while (o=o.offsetParent)
            t += o.offsetTop;
        return [l,t];
    }

    // SHOW POP-OVER
    function showPopOver(divID,parentID) {
        // SET THE DIV POSITION
        // SHOW THE DIV ()

        document.getElementById(divID).style.display = "inline-flex";


        var parent_y = parseInt(xy(parentID)[1]);
        var parent_y = parseInt(xy(parentID)[0]);
        var div_height=	parseInt(document.getElementById(divID).offsetHeight);
        var pop_pos = parent_y - div_height - 10;
        //document.getElementById(divID).style.top= pop_pos + 'px' ;
        //document.getElementById(divID).style.left= xy(parentID)[0]+"px" ;  // left is as per parent
        //alert(xy(parentID)[1]);
        //alert(current_y);
        //alert(hi);
        //alert(current_y - hi);
        //alert(top_pos);
        //alert(document.getElementById(divID).style.top);
    }

    // CLOSE POP-OVER
    function closePopOver(divID) {
        // HIDE THE DIV
        document.getElementById(divID).style.display = "none";
    }
</script>

<div class="row-fluid">
  <div style="text-align:center;border-width: 1">
    <h3 style="">View The Malls</h3>
    <% if params[:city] %>
        In City  <%=params[:city]%>
    <% end %>
  </div>
  <div style="font-size: 10px">
    <span>
      ALL MALLS (<%=@shopping_malls.count %>)
    </span>
  </div>
</div>
<div class="row-fluid">
  <div class="span3">
    <h3>
      MAJOR MALLS (<%=@shopping_malls.where(" mall_type_id=1").count %>)
    </h3>
  </div>
  <div class="span6" style="text-align: center; ">
    <div class="span3 offset2">
      DISTANCE TO MALLS
    </div>
    <%= render :partial => "shopping_malls/mall_search" %>
  </div>

  <div class="span3">
    <h3>PLAZA MALLS (<%=@shopping_malls.where(" mall_type_id=2").count %>) </h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
      <!--MAJOR MALLS-->
      <%     @shopping_malls.each do |shopping_mall|
             if shopping_mall.mall_type_id == 1 %>
              <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
          <% end %>
      <% end %>
  </div>
  <div class="span6">
      <!--PLAZA MALLS -->
      <%     @shopping_malls.each do |shopping_mall|
        if shopping_mall.mall_type_id == 2 %>
              <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
          <% end %>
      <% end %>
  </div>
</div>
