<div class="row-fluid shopping_mall-header">
  <div class="span7 shopping_mall-header-small" style="width: 52%; padding-left: 4px; margin: 0px">
    <%= link_to (shopping_mall.name).upcase, shopping_mall, :style => "text-weight: bold; font-size:16px" %>
  </div>
  <div id="mall_info<%= shopping_mall.id %>"
       class="span2 shopping_mall-header-small" style="width: 20%; background-color: #C8696F; text-align: center; margin: 0px">
    <span class="mall_links">
        <a data-toggle="modal"
            data-target="#popMapData<%= shopping_mall.id %>">
          Mall Links</a></span>
  </div>
  <div class="span3 shopping_mall-header-small" style="width: 28%; text-align: center; color:#D4E7F9; margin: 0px">
    <%@dist = shopping_mall.address.distance_to("Islamic Bookstore - Sound Vision Canada (Toronto / Mississauga), 2570 Haines Rd #2, Mississauga, ON L4Y 4A3, Canada").to_f %>
    Approx <%= pluralize( @dist, 'Km') %>
  </div>
</div>

<div class="row-fluid shopping_mall-info">
  <div class="span9 shopping_mall-info-small" style="width: 72%; margin: 0px">
    <div class="row-fluid"
         style="padding-left: 6px;
                 white-space: nowrap;
                 overflow: hidden;
                 text-overflow: ellipsis ">
      <%= shopping_mall.address && shopping_mall.address.address_brief %>
    </div>
    <div class="row-fluid"
         style="position:relative;
                 z-index:0;
                 height: 93%;
            border: 1px solid #D4E7F9l;">
        <% if shopping_mall.image.to_s != '' %>
            <%= image_tag(shopping_mall.image.to_s, :class => "img-responsive") %>
        <% else %>
            <%= image_tag("/images/dummy.jpeg", :class => "img-responsive") %>
        <% end %>
    </div>
  </div>
  <div class="span3 shopping_mall-info-small centered-group mall-view-bar mall_view<%= shopping_mall.id %>" style="width: 28%; margin: 0px">
      <a href="<%= "/shopping_malls/#{shopping_mall.id}/view" %>"
         style="text-decoration: underline;
                 font-weight:bold;
                 width: 35%;
                 margin: 0px auto;
                 color:#D4E7F9;
                 line-height: 40px">VIEW ALL</a>
      <ul class="mall-view-bar">
        <li><a href="#">ADS</a></li>
        <li><a href="#">BUSINESSES</a></li>
        <li><a href="#">CATEGORIES</a></li>
      </ul>
  </div>
</div>

<div class = "modal fade"
     id = "popMapData<%= shopping_mall.id %>"
     tabindex = "-1"
     role = "dialog"
     aria-labelledby = "myModalLabel"
     aria-hidden = "true"
        style="position: absolute; left:-10000; ">

    <%= render :partial => "shopping_malls/shopping_mall_links_modal",
               :locals => {:shopping_mall => shopping_mall}
    %>

</div>
<!-- /.modal -->
