
<div id="mall_moodle<%= shopping_mall.id%>" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


      <% if !(shopping_mall.address.nil?) %>

          <div class="button-group" style="margin: 0px 0px;">
            <button type="button" class="btn btn-info btn-default" data-dismiss="modal">
              Mall Overview Map
            </button>
          <a href="#" class="btn btn-info btn-default" style="color: #ffffff">Save <i class="icon-white icon-download-alt"></i></a>
          <a href="#" class="btn btn-info btn-default" style="color: #ffffff">e-Mail <i class="icon-white icon-comment"></i></a>
          </div>

    <% end %>
      <h4 class="modal-title" id="myModalLabel"><%= shopping_mall.name %></h4>

      <div class="row-fluid">
        <%= shopping_mall.address  && @addr_var  %>
      </div>
    </div>
    <div class="modal-body">

      <div class="row-fluid" style="padding-left: 6px; font-size: 12px; text-decoration: none; color: #000000">
        <%= truncate(shopping_mall.description, :length => 250) %>
      </div>
      <hr>
      <div class="row-fluid" style="padding-left: 6px">
        <% if !(shopping_mall.address.nil?) %>
            <!--<div id="map" class="gmaps4rails_map">-->


            <script type="text/javascript">

                $(document).ready(function(){
                    $('#popMapData<%= shopping_mall.id %>').on('shown', function () {

                        var map;
                        map = new GMaps({
                            el: '#mall_location<%= shopping_mall.id %>',
                            lat: -12.043333,
                            lng: -77.028333,
                            zoomControl : true,
                            zoomControlOpt: {
                                style : 'SMALL',
                                position: 'TOP_LEFT'
                            },
                            panControl : false,
                            streetViewControl : false,
                            mapTypeControl: false,
                            overviewMapControl: false
                        });

                        console.log("map ", map, " resize invoked on " , this);
                        map.event.trigger(map, "resize");
                    });
                });
            </script>
            AAA
            <div style="width: 500px; height: 400px" id="mall_location<%= shopping_mall.id%>">
            </div>

            <!--</div>-->

        <% end %>
      </div>
      <hr>
    </div>
    <div class="modal-footer">


      <button type="button" class="btn btn-info btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->