<script>
    // getPosition
    function xy(x) {
        o = document.getElementById(x);
        var l =o.offsetLeft; var t = o.offsetTop;
        while (o=o.offsetParent)
            l += o.offsetLeft;
        o = document.getElementById(x);
        while (o=o.offsetParent)
            t += o.offsetTop;
        return [l,t];
    }

    // SHOW POP-OVER
    function showPopOver(divID,parentID) {
        // SET THE DIV POSITION
        // SHOW THE DIV ()

        document.getElementById(divID).style.display = "inline-flex";


        //var parent_x= parseInt(xy(parentID)[1]);
        var parent_y = parseInt(xy(parentID)[0]);
        var div_height=	parseInt(document.getElementById(divID).offsetHeight);
        var pop_pos = parent_y - div_height - 10;

    }

    // CLOSE POP-OVER
    function closePopOver(divID) {
        // HIDE THE DIV
        document.getElementById(divID).style.display = "none";
    }

    // SHOW POP-OVER
    function showPopInfo(divID,parentID) {
        // SET THE DIV POSITION
        // SHOW THE DIV ()

        document.getElementById(divID).style.display = "inline-flex";


        var parent_y = parseInt(xy(parentID)[1]);
        var parent_y = parseInt(xy(parentID)[0]);
        var div_height=	parseInt(document.getElementById(divID).offsetHeight);
        var pop_pos = parent_y - div_height - 10;

    }

    // CLOSE POP-OVER
    function closePopInfo(divID) {
        // HIDE THE DIV
        document.getElementById(divID).style.display = "none";
    }
</script>
<style>
  .mall-list-header{
      font-size: 20px;
      font-family: Arial;
      color: #E8E7E2;
      background-color: #22367C;
      vertical-position: normal;
      vertical-align: middle;
      text-align: center;
      float: left;
      width: 25%;
      height: 66px;
      line-height: 60px;
      border: 1px solid #E8E7E2;
      text-decoration: underline;
  }

  .mall-search-button{
      font-size: 16px;
      width: 49.4%;
      line-height: 25px;
      padding: 0px;
      margin: 0px;
      font-stretch: semi-expanded;
  }

  .mall-search-button input{
      color: #000000;
      font-family: Arial;
      text-decoration: none;
      border: none;
      /*height: 30px;*/
      /*width: 80px;*/
      font-size: 16px;
      position: relative;
  }

  .mall-brief-box{
      width: 100%;
      background: transparent;
      margin-top :5px;
      margin-bottom:10px;
      height: 325px;
  }

  .mall-list-header-counter{
      padding-left:5px ;
      padding-right :5px ;
      border: solid;
      border-width: 1px;
      text-decoration: remove-all;
  }

  .popoverMap {
      clear : both;
      padding: 15px;
      background-color: #eaeaea;
      position: inherit;
      top:0px;
      left:0px;
      display: none;
      border-color: #444141;
      border-style: solid;
      border-width: 2px;
      z-index: 20;
      opacity: 0.95;
  }

  .popoverInfo
  {
      clear : both;
      padding: 15px;
      background-color: #eaeaea;
      position: inherit;
      top:0px;
      left:0px;
      display: none;
      border-color: #444141;
      border-style: solid;
      border-width: 2px;
      z-index: 20;
      opacity: 0.85;
  }

  .shopping_mall-header-small{
        background: none repeat scroll 0 0 rgba(64, 64, 64, 0.64);
        border: 1px solid #000000;
        float: left;
        height: 24px;
        color: #D4E7F9;
        font-weight: bold;
        line-height: 24px;
        vertical-align: middle;
    }

  .shopping_mall-info-small{
      background: none repeat scroll 0 0 rgba(64, 64, 64, 0.64);
      border: 1px solid #000000;
      float: left ;
      height: 297px;
      color: #D4E7F9;
      font-weight: bold;
      max-height: 297px;
      font-size: 16px;

  }

  .shopping_mall-info-red-button{
      width: 78%;
      height: 16px;
      position: relative;
      top: -2px;
      color: #ffffff;
      text-align:
      center; font-weight: bolder
  }

  .centered-group{
      text-align: center;
  }

  .shopping_mall-header-small a:visited{
      color: #D4E7F9;
      text-decoration: none;
  }

  .shopping_mall-header-small a{
      color: #D4E7F9;
      text-decoration: none;
  }

  .shopping_mall-info-small img{
      width: 100%;
      height: 280px;

  }

  .mall-view-bar{
      /*width:78%;*/
      float: none;
      list-style:none;
      font-size:16px;
      color:#ffffff;
  }

  .mall-view-bar a{
      color: #3097B5;
      background-color: transparent;
      width: 100%;
  }

  .mall-view-bar a:visited{
      color: #ffffff;
      background-color: transparent;

  }

  .mall-view-bar a:hover{
      color: #ffffff;
      background-color: transparent;
  }

  .mall-view-bar ul{
      /*width:50%;*/
      margin:0 auto 0 auto;
  }

  .mall-view-bar li {
      background-color: #3097B5;
      border: 1px solid rgba(0, 0, 0, 0);
      color: #FFFFFF;
      cursor: pointer;
      display: block;
      float: left;
      font-family: Arial;
      font-weight: bold;
      height: 20px;
      line-height: 20px;
      list-style: none outside none;
      margin: 15px 0;
      padding: 0;
      text-align: center;
      width: 120px;
      left: -10px;
      position: relative;
      border-radius: 20px;
  }

  .mall-view-bar ul li:hover{
      background-color:#22367C;
      color:#ffffff;
  }

  .mall-view-bar ul li a:visited{
      color:#ffffff;
  }

</style>

<div class="row">
  <div style="font-size: 10px">
    &nbsp;
  </div>
  <div style="text-align:left; border-width: 1; font-size: 14px ; font-weight: bold">
    ALL MALLS (<%=@shopping_malls.count %>)
    <% if params[:city] %>
        In City  <%=params[:city]%>
    <% end %>
  </div>
</div>

<div class="row">
  <div class=" mall-list-header">
      MAJOR MALLS <span class="mall-list-header-counter"><%=@shopping_malls.where(" mall_type_id=1").count %></span>
  </div>

  <div class="mall-list-header mall-search-button">
      DISTANCE TO MALLS <br/>
    <%
       current_pos = "Toronto, Canada"
    %>
    <%= render :partial => "shopping_malls/mall_search" %>
  </div>

  <div class="mall-list-header">
      PLAZA MALLS     <span class="mall-list-header-counter"><%=@shopping_malls.where(" mall_type_id=2").count %></span>
  </div>

</div>

<div class="row" style="background-color: #E8E7E2;">
    <div class="span6">
      <%     @shopping_malls.where(" mall_type_id=1").each do |shopping_mall| %>
      <!--MAJOR MALLS-->
          <div class="row" style="background-color: transparent; margin: 5px 0px 0px 10px">

          <% mall_background= (shopping_mall.image.to_s != "")?shopping_mall.image.to_s : "/images/dummy.jpeg" %>
                <div style="border: 1px solid #D4E7F9l;
                        background-image: url('<%=mall_background%>'); "
                    class="mall-brief-box <%=shopping_mall.mall_type_id %>">
                    <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
                </div>
          </div>
      <% end %>
    </div>
    <div class="span6">
            <!--PLAZA MALLS -->
         <%     @shopping_malls.where(" mall_type_id=2").each do |shopping_mall| %>
          <div class="row" style="background-color: transparent; margin: 5px 10px 0px 0px">

          <% mall_background= (shopping_mall.image.to_s != "")?shopping_mall.image.to_s : "/images/dummy.jpeg" %>

            <div style="border: 1px solid #D4E7F9 ;
                        background-image: url('<%=mall_background%>'); "
                 class="mall-brief-box <%=shopping_mall.mall_type_id %>">
                 <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
            </div>
          </div>
        <% end %>
    </div>
</div>
