<script>
    // getPosition
    function xy(x) {
        o = document.getElementById(x);
        var l =o.offsetLeft; var t = o.offsetTop;
        while (o=o.offsetParent)
            l += o.offsetLeft;
        o = document.getElementById(x);
        while (o=o.offsetParent)
            t += o.offsetTop;
        return [l,t];
    }

    // SHOW POP-OVER
    function showPopOver(divID,parentID) {
        // SET THE DIV POSITION
        // SHOW THE DIV ()

        document.getElementById(divID).style.display = "inline-flex";


        var parent_y = parseInt(xy(parentID)[1]);
        var parent_y = parseInt(xy(parentID)[0]);
        var div_height=	parseInt(document.getElementById(divID).offsetHeight);
        var pop_pos = parent_y - div_height - 10;
        //document.getElementById(divID).style.top= pop_pos + 'px' ;
        //document.getElementById(divID).style.left= xy(parentID)[0]+"px" ;  // left is as per parent
        //alert(xy(parentID)[1]);
        //alert(current_y);
        //alert(hi);
        //alert(current_y - hi);
        //alert(top_pos);
        //alert(document.getElementById(divID).style.top);
    }

    // CLOSE POP-OVER
    function closePopOver(divID) {
        // HIDE THE DIV
        document.getElementById(divID).style.display = "none";
    }
</script>
<style>
  .mall-list-header{
      font-size: 20px;
      font-family: Arial;
      color: #E8E7E2;
      background-color: #22367C;
      vertical-position: normal;
      vertical-align: middle;
      text-align: center;
      float: left;
      width: 25%;
      height: 66px;
      line-height: 60px;
      border: 1px solid #E8E7E2;
      text-decoration: underline;
  }

  .mall-search-button{
      font-size: 16px;
      width: 49.4%;
      line-height: 25px;
      padding: 0px;
      margin: 0px;
      font-stretch: semi-expanded;
  }

  .mall-search-button input{
      color: #000000;
      font-family: Arial;
      text-decoration: none;
      border: none;
      /*height: 30px;*/
      /*width: 80px;*/
      font-size: 16px;
      position: relative;
  }

  .mall-brief-box{
      width: 100%;
      background-color: #ffffff;
      margin-top :5px;
      margin-bottom:10px;
      height: 330px;
  }

  .mall-list-header-counter{
      padding-left:5px ;
      padding-right :5px ;
      border: solid;
      border-width: 1px;
      text-decoration: remove-all;
  }

  .popoverMap {
      clear : both;
      padding: 20px;
      background-color: #eaeaea;
      position: inherit;
      top:0px;
      left:0px;
      display: none;
      border-color: #444141;
      border-style: solid;
      border-width: 3px;
      z-index: 220;
  }

    .shopping_mall-header-small{
        border: 1px solid #000000;
        height: 24px;
        color: #194C85;
        line-height: 24px;
        vertical-align: middle;
        float: left;
        font-weight: bold;
    }

  .shopping_mall-header-small a:visited{
      color: #194C85;
      text-decoration: none;
  }

  .shopping_mall-header-small a{
      color: #194C85;
      text-decoration: none;
  }

</style>

<div class="row">
  <div style="text-align:center;border-width: 1">
    <% if params[:city] %>
        In City  <%=params[:city]%>
    <% end %>
  </div>
  <div style="font-size: 10px">
    &nbsp;
  </div>
</div>


<div class="row">
  <div class=" mall-list-header">
      MAJOR MALLS <span class="mall-list-header-counter"><%=@shopping_malls.where(" mall_type_id=1").count %></span>
  </div>
  <div class="mall-list-header mall-search-button">
      DISTANCE TO MALLS <br/>
      <%= render :partial => "shopping_malls/mall_search" %>
  </div>
  <div class="mall-list-header">
      PLAZA MALLS     <span class="mall-list-header-counter"><%=@shopping_malls.where(" mall_type_id=2").count %></span>
  </div>
</div>

<div class="row" style="background-color: #D4E7F9; padding: 10px">
  <div class="span6">
      <!--MAJOR MALLS-->
      <%     @shopping_malls.each do |shopping_mall|
             if shopping_mall.mall_type_id == 1 %>
            <div style="border: 1px solid #ff4301" class="mall-brief-box <%=shopping_mall.mall_type_id %>">
              <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
            </div>
          <% end %>
      <% end %>
  </div>
  <div class="span6">
      <!--PLAZA MALLS -->
      <%     @shopping_malls.each do |shopping_mall|
        if shopping_mall.mall_type_id == 2 %>
            <div style="border: 1px solid #ff4301" class="mall-brief-box <%=shopping_mall.mall_type_id %>">
              <%= render :partial => "shopping_malls/shopping_mall_tiny", :locals => {:shopping_mall => shopping_mall} %>
            </div>
          <% end %>
      <% end %>
  </div>
</div>
