<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shopping_mall.name %>
</p>

<p>
  <% if @shopping_mall.image.to_s != ''  %>
      <%=image_tag(@shopping_mall.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @shopping_mall.description %>
</p>

<p>
  <b>Mall type:</b>
  <%= @shopping_mall.mall_type_id %>
</p>

<p>
  <b>Ispublished:</b>
  <%= @shopping_mall.ispublished %>
</p>


<%= link_to 'Edit', edit_shopping_mall_path(@shopping_mall) %> |
<%= link_to 'Back', shopping_malls_path %>
