<% width=450
   height = (width*0.66).round(0) %>

<div class="row-fluid">
  <div class="span3 container" style="background-color: #A3D1FF">
    <div>
      <h4><%=@shopping_mall.name%> </h4>
      <span>
        <%=@shopping_mall.address.address_brief %>
      </span>
    </div>
    <div>

    </div>
    <div style="background-color: skyblue">
      <% if @shopping_mall.image.to_s != ''  %>
          <%=image_tag(@shopping_mall.image.to_s, :style => "width:100%") %>
      <% else %>
          <%=image_tag("/images/dummy.jpeg", :height=>height, :width => width) %>
      <% end %>
    </div>
  </div>
  <div class="span9">

    <div class="row-fluid">
      <div class="span12 container" style="background-color: skyblue">
        <ul class="nav nav-pills">
          <li class="active">
            <%=link_to "View All: Ads (#{@shopping_mall.ads.count })", "/shopping_malls/#{@shopping_mall.id}/mall_ads"%>
          </li>
          <li><a href="#">Sales-Deals-Flyers-Coupans-Group Buy</a></li>
        </ul>
            <%= render :partial => "shopping_malls/mall_ads_slider", :locals => {:shopping_mall => @shopping_mall} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 container" style="background-color: skyblue">
        <ul class="nav nav-pills">
          <li class="active">
            <%=link_to "View All: Categories (#{AdCategory.where( " id in (select ad_category_id from ads where shopping_mall_id = ? )", params[:id]).count })","/shopping_malls/#{@shopping_mall.id}/mall_ad_categories"%></li>
          <li><a href="#">Sales-Deals-Flyers-Coupans-Group Buy</a></li>
        </ul>
        <%= render :partial => "shopping_malls/mall_ad_category_list", :locals => {:shopping_mall => @shopping_mall} %>
      </div>
    </div>
    <% if @shopping_mall.mall_type_id == 1 %>
        <div class="row-fluid">
          <div class="span12 container" style="background-color: skyblue">
            <ul class="nav nav-pills">
              <li class="active">
                <%=link_to "View All: Businesses (#{@shopping_mall.business_items.count})", "/shopping_malls/#{@shopping_mall.id}/mall_business_items" %>
              </li>
            </ul>
            <%= render :partial => "shopping_malls/mall_business_item_list", :locals => {:shopping_mall => @shopping_mall} %>
          </div>
        </div>
    <% end %>
  </div>
</div>

