<%
   @ad_categories = AdCategory.all(:select => :id).collect(&:id)
   @loopvar = 0
%>

<div class="container">
  <div class="row-fluid">
    <div class="span9" style="margin-top: 20px">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <%
             @ad_categories.each do |x|
               #@loopvar+=1
               #puts "ad_category ==> #{x}"
               @ad = Ad.find_all_by_ad_category_id(x).first
               unless @ad.nil?
                 #puts "ad ==> #{@ad.id}"
          %>
                  <div class="item
                    <%= @loopvar %>
                    <% if (@loopvar == 1)  %>
                        active
                    <% end %>">
                    <div class="image-caption-wrapper" style="height:400px; ">
                      <% if @ad.image.to_s != ''  %>
                          <%=image_tag(@ad.image.to_s, :height => '100%', :width => '100%')%>
                      <% else %>
                          <%=image_tag("/images/dummy.jpeg", :height => '257') %>
                      <% end %>
                    </div>

                    <div class="carousel-caption" id="carousel-caption-part">
                      <div class="row-fluid" >
                        <div class="span1" style="position: absolute; top:-20px"><a href="#" class="btn btn-inverse btn-mini">PAUSE</a></div>
                        <div class="span1 offset11" style="position: absolute; top:-20px; left:-20px"><a href="#" class="btn btn-inverse btn-mini">HIDE</a></div>
                      </div>
                      <div class="row-fluid" >
                          <div class="span12" id="slider_header<%=@loopvar%>">
                          <%= render :partial => "ads/ad_slider_header" %>
                        </div>
                        <div class="span12" id="slider_footer<%=@loopvar%>">
                          <%= render :partial => "ads/ad_slider_footer" %>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end
                 @loopvar+= 1
                 end %>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
    <div class="span3">
        <%= render "/common/quicklink_copy" %>
    </div>
  </div>
</div>

<script>
//    $('#myCarousel').carousel({
//        interval: 5000
//    });
//
//    $('#carousel-text').html($('#slide-content-0').html());
//
//    //Handles the carousel thumbnails
//        $('[id^=carousel-selector-]').click( function(){
//        var id_selector = $(this).attr("id");
//    var id = id_selector.substr(id_selector.length -1);
//    var id = parseInt(id);
//    $('#myCarousel').carousel(id);
//        });                                                                                           ,
//    // When the carousel slides, auto update the text
//        $('#myCarousel').on('slid', function (e) {
//        var id = $('.item.active').data('slide-number');
//    $('#carousel-text').html($('#slide-content-'+id).html());
//        });
</script>
