<%if display_mode == "summary"  %>

    <div class="divTable">
      <div class="headRow">
        <div class="divCell">
          <%= link_to ad.title, ad %>
        </div>
      </div>
      <div class="divRow">
          <div class="divCell">
            <% if ad.image.to_s != ''  %>
          <%=image_tag(ad.image.to_s, :height => '157', :width => '217') %>
            <% else %>
                <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
            <% end %>
          </div>
        </div>
      <div class="divRow">
          <div class="divCell">
            <%= truncate(ad.description, :length => 30) %><br/><%= link_to '... (more)', ad %>
          </div>
        </div>
      <div class="headRow">
          <div class="divCell">Price : <%= (ad.price.nil? || ad.price.zero?) ? "Free !" : number_to_currency(ad.price) %>
          </div>
        </div>
    </div>


<% elsif display_mode == "detailed"  %>

    <div class="divTable">
      <div class="headRow">
        <div class="divCell"><%= @ad.title %>
        </div>
      </div>
      <div class="divRow">
        <div class="divCell">
          <%= @ad.description %>
        </div>
      </div>
      <div class="divRow">
        <div class="divCell">
          <% if ad.image.to_s != ''  %>
              <%=image_tag(ad.image.to_s, :height => '157', :width => '217') %>
          <% else %>
              <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
          <% end %>
        </div>
      </div>
      <div class="divRow">
        <div class="divCell">
          <b>Price: </b><%= (@ad.price.nil? || @ad.price.zero?) ? "Free !" : number_to_currency(@ad.price) %>
        </div>
      </div>
      <div class="divRow">
        <div class="divCell">
          <b>Address:</b>
          <%= @ad.address_id %>
        </div>
      </div>
      <div class="divRow">
        <div class="divCell">
          <b>Company:</b>
          <%= link_to @ad.company.name, Company.find(@ad.company_id || 0) %>
        </div>
      </div>
      <div class="divRow">
        <div class="divCell">
          <b>Shopping mall:</b>
          <%= link_to @ad.shopping_mall.name, ShoppingMall.find(@ad.shopping_mall_id || 0) %>
        </div>
      </div>
      <div class="divRow">
        <div class="divCell">
          <%= link_to @ad.ad_category.name, AdCategory.find(@ad.ad_category_id || 0) %>
        </div>
      </div>
      <% if 1 %>
          <div class="divRow">
            <div class="divCell">
              <%= link_to 'Edit', edit_ad_path(@ad) %> | <%= link_to 'Back', ads_path %>
              | <%= link_to 'New Ad', new_ad_path %>
            </div>
          </div>
      <% end %>

    </div>
<% end %>


