<%= form_tag ads_path, :method => 'get', :id => "ads_search" , :class =>"none" do %>

   <div style="border:1px solid #DFDFDF;width:100%;margin-top:10px;margin-bottom:10px;">
   <table style="margin:5px;">
     <tr>
       <td width=53%>Search text</td>
       <td width=10%>Min % off</td>
       <td width=10%>Max % off</td>
       <td width=15%></td>
       <td width=12%><%= link_to "Todays Offer", ads_path , :style=>"text-decoration:none"  %></td>
     </tr>
     <tr>
       <td><%= text_field_tag :search, params[:search], :class => "search_text_field", :style=>"width:100%" %></td>
       <td><%= text_field_tag :price_from, params[:price_from], :class => "search_text_field" ,:style=>"width:100%" %></td></td>
       <td><%= text_field_tag :price_to, params[:price_to], :class => "search_text_field",:style=>"width:100%" %></td>
       <td style=""><%= submit_tag "Search Offer" , :class=>"art-button" %></td>
       <td style="vertical-align:bottom;"><%= link_to "View All Offers", ads_path , :style=>"text-decoration:none"  %></td>
     </tr>
   </table>
   </div>

<% end %>