<div class="span5" style="padding-left: 26px;line-height: 2; vertical-align: top">
  <div class="row">
    <div style="font-size: 16px; font-weight: bold; color:#D4E7F9; ;text-decoration: underline">
      <%=@ad.title%>
    </div>
  </div>
  <div class="row">
    <span style="color : #ffffff">
      <%= truncate(@ad.description, :length => 80) %>
    </span>
    <span>
      <%= link_to '... (more)', @ad , :style => "color: #51A351; font-weight: bold"%>
    </span>
  </div>
</div>

<div class="span1">
  <span>&nbsp;</span>
</div>

<div class="span5" style=" line-height: 2; vertical-align: top">
  <div class="row" style="font-size: 16px; font-weight: bold; color:#D4E7F9;; text-decoration: underline ">
    <%=@ad.company && truncate(@ad.company.name, :length=>25)  %>
  </div>
  <div class="row" style=" font-size: 12px; font-weight: normal; color:#ffffff; ;">
    <%=@ad.address.address_brief%>
  </div>
  <div class="row" style="">
    <div class="span10" style="font-size: 12px; font-weight: normal; color:#ffffff; ">
      <%=@ad.address.contact_info%>
    </div>
  </div>
  <div class="row" style="font-size: 12px; font-weight: bold; color:#D4E7F9;  ">
      <%=link_to "In The Mall", @ad.shopping_mall, :style=>"color:#D4E7F9; " %> -
      <%=link_to "Order Online", @ad , :style=>"color:#D4E7F9; " %> -
      <%=link_to "We Deliver", @ad , :style=>"color:#D4E7F9;" %>
  </div>

</div>

<div class="span1">
  <%= render :partial => "ads/ad_ethnicity_checker", :locals => {:user_ethicity => "user_ethnicity", :ad => "ad_enthicity"} %>
</div>
