<div class="row-fluid" style="">
  <div class="span6" style="; height:30px; font-size: 16px; font-weight: bold; color:#ffffff ">
    <%=@ad.title%>
  </div>
  <div class="span6 columns" style="height:30px; font-size: 12px; font-weight: normal; color:#ffffff ">
    <%=link_to "In The Mall", @ad.shopping_mall, :style=>"color: #ffffff" %> -
    <%=link_to "Order Online", @ad , :style=>"color: #ffffff" %> -
    <%=link_to "We Deliver", @ad , :style=>"color: #ffffff" %> -
    <%= render :partial => "ads/ad_ethnicity_checker", :locals => {:user_ethicity => "user_ethnicity", :ad => "ad_enthicity"} %>
  </div>
</div>
<div class="row-fluid" style="">
  <div class="span6" style="height:30px; font-size: 12px; font-weight: normal; color:#ffffff ">
    <%=@ad.address.address_brief%>
  </div>
  <div class="span6 columns" style="height:30px; font-size: 12px; font-weight: normal; color:#ffffff ">
    <%=@ad.address.contact_info%>
  </div>
</div>