<%
   @ad_categories = AdCategory.all(:select => :id).collect(&:id)
   @loopvar = 0
%>

<script>
    // Load this when the DOM is ready
    $(function(){
        // You used .myCarousel here.
        // That's the class selector not the id selector,
        // which is #myCarousel
        $('#myCarousel').carousel({
            interval:4000
        });
    });
</script>

<div class="span9" style="margin: 0px" >
  <div id="myCarousel" class="carousel slide" style="height: 450px">
    <div class="carousel-inner">
      <%
         @ad_categories.each do |x|
           #@loopvar+=1
           #puts "ad_category ==> #{x}"
               @ad = Ad.find_all_by_ad_category_id(x).first
           unless @ad.nil?
             #puts "ad ==> #{@ad.id}"
      %>
              <div class="item
                    <%= @loopvar %>
                    <% if (@loopvar == 1)  %>
                        active
                    <% end %>">
                <div class="image-caption-wrapper" style="height:400px; ">
                  <% if @ad.image.to_s != ''  %>
                      <%=image_tag(@ad.image.to_s, :style => "width:100%; height:396px" )%>
                  <% else %>
                      <%=image_tag("/images/dummy.jpeg", :height => '257') %>
                  <% end %>
                </div>

               <div class="carousel-caption" id="buttonsgroup-part_<%=@loopvar%>"
                    style="padding:0px;
                            height:160px ;
                            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                    ">
                 <div class="row-fluid" style="padding:0px;position: relative; top: -20px; ">
                   <div class="span1" style="text-align: left; "><a id="hideshow_<%=@loopvar%>" class="btn btn-inverse btn-mini">HIDE</a></div>
                   <div class="span1 offset10" style="text-align: right;"><a class="btn btn-inverse btn-mini" id="pauseplay_<%=@loopvar%>">PAUSE</a></div>
                 </div>
               </div>
               <div class="carousel-caption" id="carousel-caption-part_<%=@loopvar%>" style="padding:0px; height:160px; ">
                 <div class="row-fluid" id="slider_<%=@loopvar%>" style="padding: 5px 10px; position: relative; ">
                    <div class="row-fluid">
                      <%= render :partial => "ads/ad_slider_header" %>
                    </div>
                    <div class="row-fluid">
                      <%= render :partial => "ads/ad_slider_footer" %>
                    </div>
                  </div>
                </div>
                <script>
                    //$('#pauseButton').click(function() {
                    //  $('#myCarousel').carousel('pause');
                    //});
                    // $('#playButton').click(function() {
                    //   $('#myCarousel').carousel('cycle');
                    //});
                    var hsbutton = document.getElementById('hideshow_<%=@loopvar%>');
                    var pplbutton = document.getElementById('pauseplay_<%=@loopvar%>');

                    hsbutton.onclick = function() {
//                        var div = document.getElementById('slider_<%=@loopvar%>');
                        var div = document.getElementById('carousel-caption-part_<%=@loopvar%>');
                        var bdiv2 = document.getElementById('buttonsgroup-part_<%=@loopvar%>');

                        if (div.style.display != 'none') {
                            div.style.display = 'none';
                            bdiv2.style.position='relative';
//                            bdiv2.style.top='20px';
                            document.getElementById('hideshow_<%=@loopvar%>').innerHTML="SHOW";
                        }
                        else {
                            div.style.display = 'block';
                            bdiv2.style.position='absolute';
//                            bdiv2.style.top='0px';
                            document.getElementById('hideshow_<%=@loopvar%>').innerHTML="HIDE";
                        }
                    };



                    pplbutton.onclick = function() {

                        if (document.getElementById('pauseplay_<%=@loopvar%>').innerHTML=="PAUSE") {

                            document.getElementById('pauseplay_<%=@loopvar%>').innerHTML="PLAY";
                            //alert(document.getElementById('myCarousel').innerHTML);
                            document.getElementById('myCarousel').carousel('pause');
                        }
                        else {
                            document.getElementById('pauseplay_<%=@loopvar%>').innerHTML="PAUSE";
                            document.getElementById('myCarousel').carousel('cycle');
                        }
                    };
                </script>
              </div>
          <% end
             @loopvar+= 1
             end %>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>
<div class="span3">
  <%= render "/common/quicklink" %>
</div>
<script>
//    $('#myCarousel').carousel({
//        interval: 5000
//    });
//
//    $('#carousel-text').html($('#slide-content-0').html());
//
//    //Handles the carousel thumbnails
//        $('[id^=carousel-selector-]').click( function(){
//        var id_selector = $(this).attr("id");
//    var id = id_selector.substr(id_selector.length -1);
//    var id = parseInt(id);
//    $('#myCarousel').carousel(id);
//        });                                                                                           ,
//    // When the carousel slides, auto update the text
//        $('#myCarousel').on('slid', function (e) {
//        var id = $('.item.active').data('slide-number');
//    $('#carousel-text').html($('#slide-content-'+id).html());
//        });
</script>
