<%
   counter = 0
   new_row = true
   ads_per_row = 3
%>
<%#sort not needed as ads will displayed randomly= hidden_field_tag :direction, params[:direction] %>
<%#sort not needed as ads will displayed randomly= hidden_field_tag :sort, params[:sort] %>
<h1>Listing ads</h1>

<table><tr>

  <th><%#sort not needed as ads will displayed randomly= sortable "title" %></th>
  <th><%#sort not needed as ads will displayed randomly= sortable "price" %></th>
  <th><%#sort not needed as ads will displayed randomly= sortable "company_id", "Company" %></th>
  <th><%#sort not needed as ads will displayed randomly= sortable "ad_category_id", "Category" %></th>
  <th><%#sort not needed as ads will displayed randomly= sortable "shopping_mall_id", "Mall" %></th>
</tr></table>


<%= will_paginate @ads %>


<div class="divTable">

  <% @ads.each do |ad|
    counter = counter + 1 %>

      <% if new_row or ad.nil?
           new_row = false %>
      <div class="headRow">
      <% end %>

        <div class="divCell">

          <ul id="categoryPageListing" style="float:left;padding-left:18px" class="multiDeal deal4 deal3 show4">
                <!--%= render :partial => "ads/ad_content" , :locals => { :display_mode => "summary", :ad => ad}  %> <br/-->
                <%= render :partial => "ads/ad_content" , :locals => { :display_mode => "summary", :ad => ad}  %>
          </ul>
          <% if false %>
                <%= link_to 'Show', ad %>
                <%= link_to 'Edit', edit_ad_path(ad) %>
                <%= link_to 'Destroy', ad, method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
        </div>

      <% if counter%ads_per_row==0
           new_row = true %>
      </div>
      <% end %>
  <% end %>
</div>
<%= will_paginate @ads %>