<br/>
<br/>
<br/>

<%= form_tag ads_path, :method => 'get', :id => "ads_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] ,:size=>"124", :class => 'search_text_field' %>

      <%= submit_tag "Search", :name => nil %>
    </p>
    <div id="ads"><%= render 'ads/ads' %></div>
<% end %>

<%= link_to 'New Ad', new_ad_path %>
