<div class="row" style="margin: 0px; padding:10px">
  <div class="span10 pull-left" style="margin: 0px">
    <span style="font-size: 16px; font-weight: bold">
      <%= ad_category.name.upcase %>
     </span>
     <span style="text-decoration: underline">
       <%= link_to " ALL ADS ", ads_path(:ad_category_id => ad_category.id) %>
     </span>
  </div>
  <div class="span2 pull-right text-right" style="margin: 0px">
    <span class="notify_me_button" style="margin: 3px; padding: 5px; margin-right: 20px">
      Notify Me
    </span>
  </div>
</div>

<div class="row" style="margin: 0px; padding:0px">
  <% if ad_category.get_all_child_categories.count > 1 %>
      <div class="span11 sub-category-row" style="margin: 0px; width: 91.4%">
    <div class="row" style="margin: 0px; width: 100%">
      <%
         n=0
         5.times do
           @child_category=ad_category.get_child_categories[n]
      %>
          <div class="sub-category-box" style="margin: 0px;  ">
            <% if @child_category %>
                <%= render :partial =>"ad_categories/child_ad_category", :locals => {:ad_category => @child_category} %>
            <% end %>
          </div>
      <%
         n=n+1
         end
      %>
    </div>
    <div class="row" style="margin: 0px; width: 100%">
      <%
         n=5
         5.times do
           @child_category=ad_category.get_child_categories[n]
      %>
          <div class="span2 sub-category-box" style="margin: 0px; width: 19.8%;">
            <% if @child_category %>
                <%= render :partial =>"ad_categories/child_ad_category", :locals => {:ad_category => @child_category} %>
            <% end %>
          </div>
      <%
         n=n+1
         end
      %>
    </div>
  </div>
      <div class="span1 text-center more-category-box" style="margin: 0px; width: 7.5%">
      <div class="more-category-div">
        <% if ad_category.get_all_child_categories.count > 10 %>
             <%= link_to "More Categories", ad_categories_path(:id => ad_category.id) %>
        <% else %>
            More Categories
        <% end %>
      </div>
  </div>
  <% end %>
</div>

