<div class="row-fluid" style="margin: 0px; padding:10px 2px 2px 10px">
  <div class="span10 pull-left" style="margin: 0px">
    <span style="font-size: 16px; font-weight: bold">
      <%= ad_category.name.upcase %>
     </span>
     <span style="text-decoration: underline">
       <%= link_to " ALL ADS ", ads_path(:ad_category_id => ad_category.id) %>
     </span>
  </div>
  <div class="span2 pull-right text-right" style="margin: 0px">
    <span class="notify_me_button" id="notify_me_button<%=ad_category.id%>" style="margin: 3px; padding: 5px; margin-right: 20px">
      Notify Me
    </span>
  </div>
</div>
<div id="notify_cetgories<%=ad_category.id%>" style="display: none; width: 150px">
  <div>
        <%= form_for("notification_subscription",
                    :url => new_ad_categories_notification_path(ad_category, method: :post),
                    :html => { :class => "form-horizontal" },
                    :method => 'get'
                    ) do |f| %>
            <fieldset>
              <div class="control-group" style="height: 100px; overflow-y: scroll; overflow-x: hidden; overflow-style: scrollbar">

                <% ad_category.get_all_child_categories.each do |child_category| %>
                    <div class="input-group" >
                    <%= f.label(child_category.name ) do %>
                          <%= f.check_box(:a, { :multiple => true }, child_category.id )%>
                          <%= child_category.name %>
                      <%end%>
                    </div>
                <% end %>
              </div>
              <h4>SEND TO</h4>
              <div class="input-group" >
                <div class="row-fluid">
                  <div class="span10">MY MEMBERS PAGE</div>
                  <div class="span2 input-group-addon">
                    <%= f.check_box(:a, { :multiple => true }, "MEMBER_PAGE" )%>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span10">MY text message</div>
                  <div class="span2 input-group-addon">
                    <%= f.check_box(:a, { :multiple => true }, "MEMBER_PAGE" )%>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span10 ">MY EMAIL</div>
                  <div class="span2 input-group-addon">
                    <%= f.check_box(:a, { :multiple => true }, "MEMBER_PAGE" )%>
                  </div>
                </div>
                <div class="row-fluid text-centered">
                  <div class="span6 " style="text-align: right">ALL</div>
                  <div class="span4 pull-left">
                    <%= f.check_box(:a, { :multiple => true }, "MEMBER_PAGE" )%>
                  </div>
                </div>
                <%= f.submit "Done" %>
              </div>
            </fieldset>
    <% end %>
  </div>
</div>
<script>
    $(document).ready(function() {
        $("#notify_me_button<%=ad_category.id%>").popover({
            placement: 'left',
            html: 'true',
            title : '<span style="text-decoration: underline" >NEW ADS</span>'+
                    '<button type="button" id="close" class="close" onclick="$(&quot;#notify_me_button<%=ad_category.id%>&quot;).popover(&quot;hide&quot;);">&times;</button>',
            content : function() {
                return $('#notify_cetgories<%=ad_category.id%>').html();
            }
        });
    });
</script>
<style>
    .popover
    {
        min-width:300px;
    }
    .container
    {
        padding:100px;
    }
</style>
<div class="row-fluid" style="margin: 0px; padding:0px 0px 10px 10px">
  <% if ad_category.get_all_child_categories.count > 1 %>
      <div class="span10 sub-category-row" style="margin: 0px; width: 88%">
        <div class="row-fluid" style="margin: 0px; width: 100%">
          <%
             n=0
             5.times do
               @child_category=ad_category.get_all_child_categories[n]
          %>
              <div class="span2 sub-category-box" style="margin: 0px; width: 19.8% ">
                <% if @child_category %>
                    <%= render :partial => "ad_categories/child_ad_category", :locals => {:ad_category => @child_category} %>
                <% end %>
              </div>
          <%
             n=n+1
             end
          %>
        </div>
        <div class="row-fluid" style="margin: 0px; width: 100%">
          <%
             n=5
             5.times do
               @child_category=ad_category.get_all_child_categories[n]
          %>
              <div class="span2 sub-category-box" style="margin: 0px; width: 19.8%">
                <% if @child_category %>
                    <%= render :partial => "ad_categories/child_ad_category", :locals => {:ad_category => @child_category} %>
                <% end %>
              </div>
          <%
             n=n+1
             end
          %>
        </div>
      </div>
      <div class="span2 text-center" style="margin: 0px; width: 10%">
        <div class="more-category-div">

          <% if ad_category.get_all_child_categories.count > 10 %>
              <%= link_to "More Categories", ad_categories_path(:id => ad_category.id) %>
          <% else %>
              More Categories
          <% end %>
        </div>
      </div>
  <% end %>
</div>

