<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ad_category.name %>
</p>
<p>
  <% if @ad_category.image.to_s != ''  %>
      <%=image_tag(@ad_category.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>
<p>
  <b>Introtext:</b>
  <%= @ad_category.introtext %>
</p>

<p>
  <b>Description:</b>
  <%= @ad_category.description %>
</p>

<p>
  <b>Ispublished:</b>
  <%= @ad_category.ispublished %>
</p>

<%= link_to 'Edit', edit_ad_category_path(@ad_category) %> |
<%= link_to 'Back', ad_categories_path %>
