<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<p>
  <% if @company.image.to_s != ''  %>
      <%=image_tag(@company.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>
<p>
  <b>Owner name:</b>
  <%= @company.owner_name %>
</p>

<p>
  <b>User:</b>
  <%= @company.user_id %>
</p>

<p>
  <b>Info:</b>
  <%= @company.info %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Ispublished:</b>
  <%= @company.ispublished %>
</p>

<p>
  <b>Isapproved:</b>
  <%= @company.isapproved %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
