<%= form_for(@ad_categories_notification) do |f| %>
  <% if @ad_categories_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_categories_notification.errors.count, "error") %> prohibited this ad_categories_notification from being saved:</h2>

      <ul>
      <% @ad_categories_notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <% @ad_categories.each do |ad_category| %>
        <%= check_box_tag(
                    "ad_categories_notification[ad_categories][#{ad_category.id}]",
                    @ad_categories_notification.ad_categories.nil? ? true :  @ad_categories_notification.ad_categories.detect{|d| d == ad_category} ) %>
        <%= "#{ad_category.name}"%><br />
    <% end %>

  <div class="feild">
    User : <%=current_user.name %><br />
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
