<%= form_for(@ad_categories_notification) do |f| %>
  <% if @ad_categories_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_categories_notification.errors.count, "error") %> prohibited this ad_categories_notification from being saved:</h2>

      <ul>
      <% @ad_categories_notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :ad_category_id %><br />
    <%= f.number_field :ad_category_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
