<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business_item_category.name %>
</p>

<p>
  <b>Introtext:</b>
  <%= @business_item_category.introtext %>
</p>

<p>
  <b>Description:</b>
  <%= @business_item_category.description %>
</p>

<p>
  <b>Ispublished:</b>
  <%= @business_item_category.ispublished %>
</p>


<div class="business_item_categories_business_items">
  <% @business_items = BusinessItem.where(' business_item_category_id = ?', "#{@business_item_category.id}").paginate(:per_page => 12, :page => params[:page])%>
  <%= render :partial =>"business_items/business_items", :locals => {:business_items => @business_items } %>

</div>

<%= link_to 'Edit', edit_business_item_category_path(@business_item_category) %> |
<%= link_to 'Back', business_item_categories_path %>
