<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script xmlns="http://www.w3.org/1999/html">
    $(document).ready(function () {

        $("#header-search-button").click(function () {
            $("#header-search-form").submit();
        });

        $("#header-search-form").submit(function () {

            var keyword = $('input[name="adsearch"]').val();
            if (keyword == 'Business Name / Category / Keyword') {
                alert("Please Business Name / Category / Keyword.");
                return false;
            } else {
                return true;
            }


        });

        $("#adsearch").blur(function () {
            if (this.value == '') this.value = 'Business Name / Category / Keyword';
        });

        $("#adsearch").focus(function () {
            if (this.value == 'Business Name / Category / Keyword') this.value = '';
        });


    });

    $(function() {
        var name = $( "#name" ),
                email = $( "#email" ),
                password = $( "#password" ),
                allFields = $( [] ).add( name ).add( email ).add( password ),
                tips = $( ".validateTips" );

        function updateTips( t ) {
            tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                        min + " and " + max + "." );
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp( o, regexp, n ) {
            if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
            } else {
                return true;
            }
        }

        $( "#dialog-login-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Sign In": function() {
                    var bValid = true;
//                    allFields.removeClass( "ui-state-error" );

//                    bValid = bValid && checkLength( name, "username", 3, 16 );
//                    bValid = bValid && checkLength( email, "email", 6, 80 );
//                    bValid = bValid && checkLength( password, "password", 5, 16 );
//
//                    bValid = bValid && checkRegexp( name, /^[a-z]([0-9a-z_])+$/i, "Username may consist of a-z, 0-9, underscores, begin with a letter." );
//                    // From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
//                    bValid = bValid && checkRegexp( email, /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i, "eg. ui@jquery.com" );
//                    bValid = bValid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );

                    if ( bValid ) {
                        //do here whatever needed after validation
                        $( this ).dialog( "close" );
                        $ ( this).post("<%=new_user_session_path%>");
                    }
                }
            },
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
            }
        });

        $( "#dialog-registration-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Sign Up": function() {
                    $( this ).dialog( "close" );
                    $ ( this).post("<%=new_user_session_path%>");
                }
            },
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
            }
        });

        $( "#perform-login" ).click(function() {
                    $( "#dialog-login-form" ).dialog( "open" );
                });

        $( "#perform-register" ).click(function() {
            $( "#dialog-registration-form" ).dialog( "open" );
        });
    });

</script>

<style>
    body { font-size: 62.5%; }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

<div id="dialog-login-form" title="Create new user">
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>

<div id="dialog-registration-form" title="Create new user">
  <!--%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %-->
      <form>
      <!--%= devise_error_messages! %-->

      <div><%=label "email","email" %>
        <br/>
        <%= email_field "email", :autofocus => true %></div>

      <br/>
      <div><%= label "name","name" %>
        <br/>
        <%=text_field "name","name" %>
      </div>
      <br/>
      <div><%= label "role","role" %>
        <br/>
        <%=collection_select(:user, :role_id, Role.all, :id, :name  ) %>
      </div>
      <br/>
      <div><%= label "password","password" %>
        <br/>
        <%=password_field "password","password" %></div>
      <br/>
      <div><%= label "password_confirmation","password_confirmation" %>
        <br/>
        <%=password_field "password_confirmation" ,"password_confirmation" %></div>
      <br/><br/>
  <!--% end %-->
          </form>
</div>

<header class="art-header">


  <div class="art-shapes">

  </div>

  <div class="top-menu">
    <table style="width:100%">
      <tr>
        <td></td>
        <td class="top-menu-inner">

          <div style="float:left;">
            <ul id="social_box">

              <li><a href="#"><img src="/images/facebook.png" alt="Facebook"/></a></li>
              <li><a href="#"><img src="/images/twitter.png" alt="Twitter"/></a></li>
              <li><a href="#"><img src="/images/linkedin.png" alt="Linkedin"/></a></li>
              <li><a href="#"><img src="/images/technorati.png" alt="Technorati"/></a></li>
              <li><a href="#"><img src="/images/myspace.png" alt="Myspace"/></a></li>
            </ul>
          </div>

          <script>
              $(document).ready(function() {
                  $("#switch-city").change(function() {
                      //$("#contacts-index").submit();
                      window.location.search += "&city=" + encodeURIComponent($("#switch-city").val());
                  });
              });
          </script>
          <span class="section city">
            <% @addresses=Address.all %>
            City : <%=select_tag "city", options_for_select(@addresses.collect{|a|[a.city]}.uniq), { :id => "switch-city" } %>
          </span>

          <span class="section categories">
            <a href="#">View More Categories</a>
          </span>

          <span class="section options">
            <a href="#">More Search Options</a>
          </span>

          <script>
              $(function(){
                  $("#set-language").click(function(){
                      $.post('/set_language');
                      $.alert('hello');
                  })
              })
          </script>

          <span class="section options">
            <a href="/set_language">Set language?</a>
          </span>

          <span class="section user_nav" style="float:right;">
            <% if user_signed_in? %>
                 <%= current_user.name %> |
                <% if current_user.role.name == "admin" %>
                    <%= link_to "Control Panel", "/admin" %>
                <% else %>
                    <%= link_to "My Account", "/info/user_home" %>
                <% end %>

                |  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
            <% else %>
                <span id="perform-login">Login</span>
                <!--%= link_to "Login", new_user_session_path % -->
                |
                <span id="perform-register">Register</span>
                <!--%= link_to "Register", new_user_registration_path %-->
            <% end %>
          </span>


        </td>
        <td></td>
      </tr>
    </table>
  </div>

  <table style="width:100%;margin-top: -15px;">
    <tr>
      <td></td>

      <td style="width:200px">
        <img src="/images/bizlocator-logo.png" height="90px">
      </td>

      <td style="width:509px">
        <!--<a href="/ads/"><img src="/images/bizlocator-search.png" style="margin-left:10px;"></a>-->
        <!--%= render :partial => "ads/ad_search" %-->
      </td>

      <td style="width:181px">
        <img src="/images/dummy-ad.png" height=102px>
      </td>
      <td></td>
    </tr>
  </table>


</header>


