<script xmlns="http://www.w3.org/1999/html">
    $(document).ready(function () {

        $("#header-search-button").click(function () {
            $("#header-search-form").submit();
        });

        $("#header-search-form").submit(function () {

            var keyword = $('input[name="adsearch"]').val();
            if (keyword == 'Business Name / Category / Keyword') {
                alert("Please Business Name / Category / Keyword.");
                return false;
            } else {
                return true;
            }


        });

        $("#adsearch").blur(function () {
            if (this.value == '') this.value = 'Business Name / Category / Keyword';
        });

        $("#adsearch").focus(function () {
            if (this.value == 'Business Name / Category / Keyword') this.value = '';
        });


    });
</script>





<header class="art-header">


  <div class="art-shapes">

  </div>

  <div class="top-menu">
    <table style="width:100%">
      <tr>
        <td></td>
        <td class="top-menu-inner">

          <div style="float:left;">
            <ul id="social_box">

              <li><a href="#"><img src="/images/facebook.png" alt="Facebook"/></a></li>
              <li><a href="#"><img src="/images/twitter.png" alt="Twitter"/></a></li>
              <li><a href="#"><img src="/images/linkedin.png" alt="Linkedin"/></a></li>
              <li><a href="#"><img src="/images/technorati.png" alt="Technorati"/></a></li>
              <li><a href="#"><img src="/images/myspace.png" alt="Myspace"/></a></li>
            </ul>
          </div>

          <script>
              $(document).ready(function() {
                  $("#switch-city").change(function() {
                      //$("#contacts-index").submit();
                      window.location.search += "&city=" + encodeURIComponent($("#switch-city").val());
                  });
              });
          </script>
          <span class="section city">
            <% @addresses=Address.all %>
            City : <%=select_tag "city", options_for_select(@addresses.collect{|a|[a.city]}.uniq), { :id => "switch-city" } %>
          </span>

          <span class="section categories">
            <a href="#">View More Categories</a>
          </span>

          <span class="section options">
            <a href="#">More Search Options</a>
          </span>

          <span class="section user_nav" style="float:right;">
            <% if user_signed_in? %>
                 <%= current_user.name %> |  <%= link_to "My Account", "/info/user_home" %> |  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %>
            <% end %>
          </span>


        </td>
        <td></td>
      </tr>
    </table>
  </div>

  <table style="width:100%;margin-top: -15px;">
    <tr>
      <td></td>

      <td style="width:200px">
        <img src="/images/bizlocator-logo.png" height="90px">
      </td>

      <td style="width:509px">
        <!--<a href="/ads/"><img src="/images/bizlocator-search.png" style="margin-left:10px;"></a>-->
        <!--%= render :partial => "ads/ad_search" %-->
      </td>

      <td style="width:181px">
        <img src="/images/dummy-ad.png" height=102px>
      </td>
      <td></td>
    </tr>
  </table>


</header>


