
<div class="main-nav-bar">
  <style>
  </style>
  <ul>
    <li><a href="/info/home" >Home</a></li>
    <li><%= link_to "City", jobs_path %></li>
    <li><%= link_to "Jobs", jobs_path %> </li>
    <li style="width: 180px"><%= link_to "Businesses Around Me", business_items_path  %> </li>
    <li><%= link_to "Entertainment", "entertainment" %></li>
    <li><%= link_to "Rewards", "rewards" %> </li>
  </ul>
</div>
<!-- NodeFire Structure [Menu 0] -->