<% session_points = 10 %>
<% saved_ads = 0 %>
<div class="row second-nav-bar">
  <style>
      .second-nav-bar{
          width:1200px;
          float: left;
          list-style:none;
          color:#000000;
      }

      .second-nav-bar ul{
          /*width:1490px;*/
          margin:0 auto 0 auto;
      }

      .second-nav-bar ul li {
          background-color:#D4E7F9;
          float:left;
          color:#000000;
          padding:0 20px 0 20px;
          border-right:1px solid #000000;
          border-left:1px solid #000000;
          border-top:1px solid #000000;
          border-bottom:1px solid #000000;
          height:20px;
          list-style:none;
          display:block;
          line-height:20px;
          text-align:center;
          cursor:pointer;
          font-size: 16px;
          font-weight: bold;
      }

      .second-nav-bar ul li a:hover {
          background-color: transparent;
          color:#ffffff;
      }

      .second-nav-bar ul li.active_link {
          background-color: #E8E7E2;
          color:#22367C;
      }

      li.active_link {
          background-color: #E8E7E2;
          color:#22367C;
      }

  </style>
  <ul>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
//        $(document).on("click", "a.trigger", function(event){
//            event.preventDefault();
//            var anchor = $(this);
//            var id = anchor.closest("li").attr("id");
//            console.log(id);
//        });

        $(document).ready(function() {
            $("[href]").each(function() {
                if (this.href == window.location.href) {
                    last_li = $(this).closest('li');
//                    alert($(last_li));
                    $(last_li).addClass('active_link')
                    //$(this).closest('li').style.background = "#ffcc00"
                }
            });
        });
    </script>
    <li style="width:40%; ">
      <%= link_to "Sales - Deals -", ads_path(:ad_type => AdType.find_by_name("Sales & Deals").id )%>
      <%= link_to "Flyers -", ads_path(:ad_type => AdType.find_by_name("Flyers").id )%>
      <%= link_to "Coupons -", ads_path(:ad_type => AdType.find_by_name("Coupons").id )%>
      <%= link_to "Group Buys -", ads_path(:ad_type => AdType.find_by_name("Group Buys").id )%>
      <%= link_to "& More ", ads_path%>
      </li>
    <li style="width:13%"><%= link_to "View The Malls", shopping_malls_path  %> </li>
    <li style="width:14%"><%= link_to "Save List ", "save_list" %><span style="padding-left:5px ; padding-right :5px ; border: solid; border-width: 1px;"><%=saved_ads %></span> </li>
    <li style="width:19%"><%= link_to "Todays Points ", "save_points" %><span style="padding-left:5px ; padding-right :5px ;border: solid; border-width: 1px;"><%=session_points %></span></li>
  </ul>
</div>

