<br/>
<br/>
<br/>

<a href="#my_div" rel="facebox">Facebox test</a>

<div id="my_div" >

  <span style="font-weight: bold"> Facebox test COntebnt Lines  </span>

</div>


<div class="user-home-menu">
  <a href="">Dashboard</a> |
  <a href="">Company</a> |
  <a href="">Ads</a> |
  <a href="">Business Listing</a> |
  <a href="">Job Posting</a> |
  <a href="">My Profile</a>
</div>

<div class="user_dashboard" >
  <span style="font-weight: bold"> Dashboard  </span>
  <br/><br/>
  This section will contain
  <br/>summary of all entities.
  <br/>Admin Notification
  <br/>News / offers for this user
  <br/>Feedback form for this user

</div>

<div id="user_companies" >
  <span style="font-weight: bold">  My Companies  </span> | <%= link_to "Create New Company", new_company_path %>
  <br/>
  <br/>
  <%= render :partial =>"companies/user_index"  %>
</div>


<div class="user_ads" >
  <span style="font-weight: bold">  My Ads  </span> | <%= link_to "Create New Ad", new_ad_path %>
  <br/>
  <br/>
  <%= render :partial =>"ads/user_index"  %>
</div>

<div class="user_business_items" >
  <span style="font-weight: bold">  My Business Items  </span> | <%= link_to "Create Business Item", new_business_item_path %>
  <br/>
  <br/>
  <%= render :partial =>"business_items/user_index"  %>
</div>


<div class="user_jobs" >
  <span style="font-weight: bold">  My Jobs  </span> | <%= link_to "Create New job", new_job_path %>
  <br/>
  <br/>
  <%= render :partial =>"jobs/user_index"  %>
</div>


<div class="user_addresses" >
  <span style="font-weight: bold">  My Addresses  </span> | <%= link_to "Create New Addresses", new_address_path %>
  <br/>
  <br/>
  <%= render :partial =>"addresses/user_index"  %>
</div>
