<!DOCTYPE html>
<html>
<head>
  <title>Bizlocator</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" href="/stylesheet/style.css" media="screen">
  <!--[if lte IE 7]>
  <link rel="stylesheet" href="/stylesheet/style.ie7.css" media="screen"/><![endif]-->
  <link rel="stylesheet" href="/stylesheet/style.responsive.css" media="all">

  <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
  <script src="/javascript/jquery.js"></script>
  <script src="/javascript/script.js"></script>
  <script src="/javascript/script.responsive.js"></script>

</head>
<body>

<div id="art-main">

  <!-- Start: header -->

  <%= render "/common/header" %>

  <!-- End: header -->

  <div class="art-sheet clearfix">
  <%= render "/common/mainmenu" %>


  <%= yield %>


  </div>
  <!-- Start: footer -->
  <%= render "/common/footer" %>
  <!-- End: footer -->

</div>


</body>
</html>
